---
layout: default
---
{% if site.hero == true %}
	{% include hero.html %}
{% endif %}

<div class="container">
	<div class="row">
		{% if site.posts.size > 0 %}
			{% for post in paginator.posts %}
				{% include article-content.html %}
			{% endfor %}
		{% endif %}
	</div>
</div>
{% include pagination.html %}

<div class="widget-newsletter">
	<h5 class="newsletter-title wow fadeInUp">Get Interesting News</h5>
	<div class="newsletter-subtitle wow fadeInUp" data-wow-delay=".2s">Stay up to date! Get all the latest & gretest posts delivered straight to your inbox</div>
	<form class="newsletter-form validate" action="{% if site.mailchimp %}//{{site.mailchimp}}{% else %}#{% endif %}"
		method="POST" id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
		<div class="newsletter-group">
			<div class="newsletter-group-top">
				<label class="screen-reader-text" for="mce-EMAIL">Enter your mail address</label>
				<input class="newsletter-email required email" id="mce-EMAIL" type="text" name="EMAIL" placeholder="Enten your mail">
			</div>
			<input class="newsletter-button" id="membedded-subscribe" type="submit" name="subscribe" value="Subscribe">
		</div>
	</form>
</div>