// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 20px;

// *****************
// Color Variables
// *****************
$brand-color: #f07167;
$dark: #212121;
$gray: #616161;
$light-gray: #eee;

// Background Colors
$background-color: #fff;

// Body Color
$text-color: $dark;

// Headings
$heading-font-color: $dark;

// Links
$link-color: $dark;
$link-color-hover: darken($dark, 15%);

// Border
$border-color: $light-gray;

// *****************
// Typography
// *****************
$base-font-size: 18px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: "Spectral", "Lora", "Merriweather", serif;
$base-line-height: 26px;

// Headings
$heading-font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;

$font-size-h1: 36px;
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 16px;

$heading-line-height: 1.2;
